* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Anek Telugu', sans-serif;
}


.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    gap: 1rem;
    background-color: #eee;
}

header nav {
    display: flex;
    background: rgb(219, 219, 219);
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
}

header nav div {
    display: flex;
    gap: 2rem;
}

footer nav img {
    height: 50px;
    width: 50px;
}

footer nav {
    display: flex;
    background: rgb(219, 219, 219);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-width: 18rem;
    width: 25%;
}

.button {
    border: rgb(25, 110, 40) 2px solid;
    padding: 0 0.3rem;
    border-radius: .3rem;
}
