* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    padding: 0 2rem;
}

/* Common Top Navigation Bar */
.top-nav-button {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    background:black;
    padding: 1rem;
}

header a {
    color:white;
}

/* Common Hero section */

.hero {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: lightgrey;
    padding: 2rem;
    gap: 1rem;
}

/* Landing page Hero section*/
.hero p {
    width: 50vw;
    min-width: 200px;
}

.hero a {
    border: black 1px solid;
    padding: 0.2rem;
    border-radius: .3rem;
}

/* Common Work section */
#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    color: white
}

#work h2 {
    margin: 0 0 1rem 0
}

#work a img {
    width: 75vw;
}

#website-two {
    display: none;
}

#website-three {
    display: none;
}

#work li {
    margin: 1rem;
}

#work a p {
    margin: 1rem 0 0 0;
    border: 1px solid black;
}

#tech-stack {
    display: flex;
    flex-wrap: wrap;
    background: lightblue;
    padding: 1rem 0;
    height: 250px;
}

#tech-stack h3 {
    width: 100vw;
    text-align: center;
}

#tech-stack a {
    text-align: center;
    width: 50vw;
    margin: 1rem 0;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    background: lightgrey;
    padding: 2rem;
}

#blog p {
    margin: 1rem;
}

#blog img {
    display:none;
}

.blog-sample {
    display: none;
}

#bottom-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: black;
    padding: 1rem;  
}

#bottom-nav h1 {
    color: white;
}

hr {
    width: 300px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 285px;
    margin: 1rem 0;
}

.links a {
    color: white;
}

footer {
    text-align: center;
    color: white;
}

/* About me page */

#about-hero {
    height: 75vw;
}

.about-section {
    display: flex;
    padding: 2rem;
    color: white;
}

.about-section p {
    width: 75%;
}

.values {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2rem;
    gap: 2rem;
}

.values div {
    display: flex;
    flex-direction: column;
}

.values img {
    width: 100%;
}

.values div article {
    padding: 0 0 2rem;
}

/* Work page */

#summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#summary article {
    padding: 2rem;
}

.summary-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vw;
    margin: 1rem;
}

#website-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.website {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

.website img {
    width: 100%;
}

 /* Blog page */

 .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.blog-post h2 {
    margin: 2rem 0 0 0;
}

.blog-post p {
    margin: 2rem 0;
}
.blog-post img {
    width: 100%;
}
#contact-me hr {
    width: 200px;
}
#contact-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 10vw 
}

@media only screen and (min-width: 481px) and (max-width: 850px) {
/* landing page */
    #menu-button {
        display: none;
    }

    .top-nav-button {
    display: inline-block;
    margin: 0 0.5rem;
    }

    .about-section p {
        width: 50%;
    }
/* About me page */
    .values div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .values div article {
        width: 45%;
    }
/* Work page */

    #summary {
        flex-direction: row;
    }
    #summary article {
        flex: 1;
    }
    .website {
    flex-direction: row;
    }

    .website h2 {
        flex: 1;
        align-self: flex-start;
    }

    .website p {
        flex: 1;
    }
    .website img {
        flex: 2;
    }

    #reverse-layout img {
        order: 1;
    }
    /* Blog page Tablet*/
    .blog-post {
        flex-direction: row;
    }
    .blog-post img {
        margin: 0 2rem;
        order: 1;
    }
    .blog-post article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}
@media only screen and (min-width: 851px) {
/* landing page */
    #menu-button {
        display: none;
    }

    .top-nav-button {
    display: inline-block;
    margin: 0 0.5rem;
    }

    #work div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }
    
    #work div a {
        display: flex;
        width: 25vw;
    }

    #blog {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #blog-hero {
        width:75%;
        text-align: left;
        padding:2rem;
    }

    .blog-sample {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50%;
        padding: 1rem;
    }

    #blog img {
        display: flex;
        width: 25%;
    }

/* about me page */
    #about-hero {
        height: 50vw;
    }

    .about-section p {
        width: 50%;
    }

    .values div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .values div article {
        width: 30%;
    }

/* Work page */
    #summary {
        flex-direction: row;
        justify-content: flex-start;
    }

    #summary article {
        flex: 1;
    }

    .summary-list{
        height: 25vw;
    }

    .website {
    flex-direction: row;
    }

    .website h2 {
        flex: 1;
        align-self: flex-start;
    }

    .website p {
        flex: 1;
    }
    .website img {
        flex: 2;
    }
    #reverse-layout img {
        order: 1;
    }
    /* Blog Desktop */
    .buttons {
        flex-direction: row;
        gap: 1rem;
     }

    .blog-post {
        flex-direction: row;
    }
    .blog-post img {
        width: 50vw;
        margin: 0 2rem;
        order: 1;
    }
    .blog-post article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}